{% extends 'all-photos/base.html' %}

{% block content %}
{{block.super}}
<div class="container">
    <div class="zone cover">
        <h1 class="text-center">Animals</h1>
    </div><br><br>
    <div class="wrapper-grid">
        {% for animal_item in animals %}
        <div class="content">
            <div class="content-overlay"></div>
            <img src="{{animal_item.animal.url}}" alt="">
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title"> {{animal_item.name}} </h3>
            </div>
        </div>
        {% empty %}
        {% endfor %}
    </div>
</div>
{% endblock %}