{% extends 'all-photos/base.html' %}

{% block content %}
<h1 class="text-center">PHOTO GALLERY</h1>
<br><br>
<hr>
<div class="text-center">
    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi debitis, non aliquam fugiat explicabo error quo dolores unde accusamus iure quae itaque commodi harum sunt vel ad est laboriosam quis.</p>
    <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro alias quis doloremque doloribus ut. Rerum quas delectus nisi dicta consequuntur, at tempora dolores adipisci voluptatem, aspernatur officia? Quia, sunt. Possimus.</p>
</div>
<hr>
{% endblock %}